{% extends "header.html" %}
{% load static %}
{% block content %}

{% block title %}
<title>Product Size</title>
{% endblock title %}

{% block style %}
    <style>
        .text-nowrap {
            white-space: nowrap !important;
            padding-top: 24px;
        }

        input {
            width: 100px;
        }
    </style>
{% endblock style %}

<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row">
        <div class="col-lg-12">
            <form action="{% url 'product_size' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br><br>
                <div>
                    <label for="id_pcolor" class="form-label">Product Color</label>
                    <select name="product_color" required id="id_pcolor" class="form-control" onkeydown="moveToNext(event, 'exampleInputSize')">
                        <option value="" selected>Select</option>
                        {% for product_color in product_colors %}
                        <option value="{{ product_color.id }}">{{ product_color.color }} - {{ product_color.product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div>
                    <label for="exampleInputSize" class="form-label">Size</label>
                    <input type="text" required autocomplete="off" class="form-control" onkeydown="moveToNext(event, 'exampleInputQuantity')" name="size" placeholder="Size" id="exampleInputSize">
                </div>
                <br>
                <div>
                    <label for="exampleInputQuantity" class="form-label">Quantity</label>
                    <input type="number" required autocomplete="off" class="form-control" onkeydown="moveToNext(event, 'exampleInputPrice')" name="quantity" placeholder="Quantity" id="exampleInputQuantity">
                </div>
                <br>
               
                <br><br>
                <button type="submit" class="btn btn-primary d-flex justify-content-end">Add Product Size</button>
            </form>
            <br>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

            <script>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
                {% elif message.tags == 'success' %}
                swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
                {% else %}
                swal("Message", "{{ message }}"); // Display general message
                {% endif %}
                {% endfor %}
                {% endif %}
            </script>
            <br />
            <br />
        
            <script>
                function moveToNext(event, nextInputId) {
                    if (event.keyCode === 13) { 
                        event.preventDefault(); 
                        var nextInput = document.getElementById(nextInputId);
                        if (nextInput) {
                            nextInput.focus(); 
                        }
                    }
                }

                function previewImage(input, previewId) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var imgElement = document.getElementById(previewId);
                        imgElement.src = e.target.result;
                        imgElement.style.display = 'block';
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            </script>
        </div>
    </div>
</div>

{% endblock content %}
