{% extends "header.html" %}
{% load static %}
{% block content %}

{% block title %}
<title>Add Category</title>
{% endblock title %}

<div class="container-fluid">
    <!-- Row 1 -->
    <div class="row ">
        <div class="col-lg-12 ">
            <form action="{% url 'add_category' %}" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <br><br>
                <div class="mb-3 mb-5">
                    <label for="exampleInputname" class="form-label ">Name</label>
                    <input type="text" required autocomplete="off" class="form-control"
                        onkeydown="moveToNext(event, 'message-text')" name="name" placeholder="Category name"
                        id="exampleInputname">
                </div>
                <br>
                <div class="mb-3">
                    <label for="exampleInputDescription" class="form-label">Description</label>
                    <textarea class="form-control" autocomplete="off" id="message-text" name="description"
                        placeholder="Description" rows="8"></textarea>
                </div>
                <br>
                <div class="mb-3 mb-5">
                    <label for="exampleInputname" class="form-label">Add Image</label>
                    <input required type="file" class="form-control" name="image" id="exampleInputImage"
                        onchange="previewImage(this)">
                </div>
                <input type="text" name="type" id="productName" class="form-control" value="{{ product.type }}" 
                    id="imagePreview4" src="#" alt="Uploaded Image"
                    style="display:none; max-width: 200px; max-height: 200px; border-radius: 7px; ">


                <br>
                <button type="submit" class="btn btn-primary d-flex text-center ">Add</button>
            </form>
            <br>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

            <script>
        
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            swal("Something went Wrong!", "{{ message }}", "warning");
            {% elif message.tags == 'success' %}
            swal("{{ message }}", "success");
            {% else %}
            <h5>! {{ message }}</h5>
            {% endif %}
            {% endfor %}
            {% endif %}
            </script>
            <br />
        </div>
    </div>



    {% endblock content %}


    <script>
        function moveToNext(event, nextInputId) {
            if (event.keyCode === 13) {
                event.preventDefault();
                var nextInput = document.getElementById(nextInputId);
                if (nextInput) {
                    nextInput.focus();
                }
            }
        }

        function previewImage(input, previewId) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imgElement = document.getElementById(previewId);
                imgElement.src = e.target.result;
                imgElement.style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        }
    </script>

    </body>

    </html>