{% extends 'base.html' %}

{% load static %}

{% block content %}
<br><br><br><br>
<div class="container" style="margin-bottom: 200px;">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="success">
                <div class="vid">
                    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                        type="module"></script>

                    <dotlottie-player src="https://lottie.host/0c7e2f19-bd89-4ef2-8db8-d2bf1496906d/hkqrBH5irB.json"
                        background="transparent" speed="1" style="width: 90%; height: 90%;" autoplay></dotlottie-player>
                </div><br><br><br>
                <div class="ty">
                    <h1 class="text-center text-dark">THANK YOU</h1><br>
                    <h6 class="text-center text-dark">Your order was successfully completed.</h6><br><hr><br>
                    <div class="d-flex justify-content-between ">
                        <a href="{% url 'index' %}">
                            <div class="btn btn-outline-primary ">Continue Shopping</div>
                        </a>
                        <a href="{% url 'view_all_order' %}">
                            <div class="btn btn-outline-warning ">View Order Details</div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--<audio id="successAudio" src="{% static 'img/COC.mp3' %}" preload="auto"></audio>-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const successAudio = document.getElementById('successAudio');
        successAudio.play();
    });
</script>




{% endblock content %}
