{% extends "header.html" %}

{% load static %}

{% block content %}

{% block title %}
<title>View Order</title>
{% endblock title %}

<head>
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <script src="https://kit.fontawesome.com/83f31ed500.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

{% block style %}
<style>
.card {
    width: 150px;
    height: 366px;
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid rgb(107, 116, 130);
    position: relative;
    width: calc(25% - -159px);
    margin-bottom: 20px;
}
</style>
{% endblock style %}

<div class="container">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'error' %}
        swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
        {% elif message.tags == 'success' %}
        swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
        {% else %}
        swal("Message", "{{ message }}"); // Display general message
        {% endif %}
        {% endfor %}
        {% endif %}
    </script>
    <br />
    <div class="container">
        <div class="row">
            <div class="order-card">
                <div class="order-header">
                    <h3>View Order</h3>
                    <!-- Add any buttons or links for actions here if needed -->
                </div>
                <hr>
                <div class="order-details">
                    <div class="order-info">
                        <label for="">Order ID:</label>
                        <p>{{ order.tracking_id }}</p>
                    </div>
                    <div class="order-info">
                        <label for="">Customer Name:</label>
                        <p>{{ order.customer.user.username }}</p>
                    </div>
                    <div class="order-info d-inline-block ">
                        <label for="">Address:</label>
                        <p>{{ address.first_name }} {{ address.last_name}},
                            {{address.house_name}},<br>
                            {{address.city}}, {{address.state}},<br>
                            {{address.postal_code}}, {{address.country}}</p>
                    </div>
                    <div class="order-info">
                        <label for="">Payment Method:</label>
                        <p>{{ order.payment_method }}</p>
                    </div>
                    <div class="order-info">
                        <label for="">Status:</label>
                        {% if order.status == 'Delivered' %}
                        <p style="color: green;">{{order.status}}</p>
                        {% elif order.status == 'Returned' %}
                        <p style="color: rgb(248, 12, 4);">{{order.status}}</p>
                        {% elif order.status == 'Cancelled' %}
                        <p style="color: rgb(255, 0, 0);">{{order.status}}</p>
                        {% elif order.status == 'Pending' %}
                        <p style="color: rgb(255, 145, 0);">{{order.status}}</p>
                        {% elif order.status == 'On Progress' %}
                        <p style="color: green;">{{order.status}}</p>
                        {% endif %}
                    </div>
                    <div class="order-info">
                        <label for="">Total:</label>
                        <p>₹ {{ order.total }}</p>
                    </div>
                </div>
            </div>
            <hr>

            <div class="order-items">
                <div class="d-flex justify-content-center ">
                    <h3>Ordered Items</h3>
                </div>
                <hr><br>
                <div class="row" style="background-color: #f9f9f9;"> 
                    {% for i in item %}
                    <div class="col-md-4 "  > 
                        <div class="d-flex" style="font-size: x-large;margin-left: 81px;">
                            {% if i.request_return == True and i.status == 'Delivered'%}
                            <div style="margin-left: -73px;">
                            <a href="#" style="font-size:medium;" id="ReturnOrderBtn" class="btn btn-outline-primary">Accept Return Request</a>
                            </div>
                            {% elif i.status == 'Delivered' %}
                            <b><p style="color: green;">{{i.status}}</p></b>
                            {% elif i.status == 'Returned' and i.return_product == True %}
                           <b> <p style="color: rgb(248, 12, 4);margin-left:-75px;">{{i.status}} & Refunded</p></b>
                            
                            {% elif i.status == 'Refunded' %}
                            <p style="color: rgb(255, 145, 1);">{{i.status}}</p>
                            {% elif i.status == 'Cancelled' %}
                            <b><p style="color: rgb(255, 0, 0);">{{i.status}}</p></b>
                            {% elif i.request_cancel == True and i.cancel == False %}
                            <div style="margin-left: -73px;">
                            <a href="{% url 'cancel_order' i.pk %}"  style="font-size: medium;" id="cancelOrderBtn" class="btn btn-outline-primary">Accept Cancel Request</a>
                            </div>
                            
                            {% else %}
                            <div style="padding-bottom: 5px;">
                                <select style=" font-size: medium;padding-bottom: 10px;" id="status-dropdown-{{ i.id }}" name="status" class="custom-select"
                                onchange="updateOrderStatus(this)">
                                {% for key, value in status_choices.items %}
                                <option value="{{ key }}" class="custom-option" {% if i.status == key %}selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            </div>
                            {% endif %}
                        </div><br><br>
            
                        <div class="cards">
                            <div class="card">
                                <img src="{{i.product.image1.url}}" class="card-img" alt="">
                                <div class="card-body">
                                    <p class="card-sub-title"><b>Product Name: {{ i.product.product.name }}</b>
                                    </p>
                                    <p class="card-sub-title"><strong>Size:</strong> {{ i.size }}</p>
                                    <p class="card-sub-title"><strong>Quantity:</strong> {{ i.qty }}</p>
                                    <p class="card-sub-title"><strong>Price:</strong> ₹ {{i.product.product.offer_price }}</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End of column div -->
                    {% endfor %}
                </div> <!-- End of row div -->
            </di  v>
        </div>
    </div>
</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function updateOrderStatus(selectElement) {
    var itemId = selectElement.id.split('-')[2];
    var newStatus = selectElement.value;

    // AJAX request
    $.ajax({
        url: '/admin/update_status/', 
        method: 'POST',
        data: {
            'order_item_id': itemId, 
            'new_status': newStatus,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (data) {
            if (data.status === 'success') {
                console.log('Status updated successfully');
            } else {
                console.error('Status update failed:', data.message);
            }
        },
        error: function (xhr, errmsg, err) {
            console.error('Status update failed:', xhr.status + ": " + xhr.responseText);
        }
    });
}


    // Function to get the color based on the status
    function getStatusColor(status) {
        switch (status) {
            case 'Delivered':
                return 'green';
            case 'Returned':
                return 'rgb(248, 12, 4)';
            case 'Refunded':
                return 'rgb(255, 145, 1)';
            case 'Cancelled':
                return 'rgb(255, 0, 0)';
            default:
                return '';
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- JavaScript code for handling cancel and return requests --><script>
    // Function to confirm cancel using SweetAlert
    
    $(document).ready(function() {
        // Function to handle return request
        $('#ReturnOrderBtn').click(function(e) {
            e.preventDefault();
            Swal.fire({
                title: 'accept return',
                text: "Accept Return Request!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Return it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the return_order view
                    {% for i in item %}
                    window.location.href = "{% url 'return_order' i.id %}";
                    {% endfor %}
                }

            });
        });
    });
</script>


{% endblock content %}