{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha384-dZJphvWB4gBFHqhDyv4m3D7cycoqj/ZxVBbsKsW9ec9CSJ0+Emlwj8bs3iyCegQj" crossorigin="anonymous">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <style>
                .otp-container {
                    border-radius: 20px;
                    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.05);
                    background-color: #fff;
                    align-items: center;
                    padding: 30px 40px;
                    max-width: 100%;
                    margin-top: 30px;
                }

                .otp-header img {
                    aspect-ratio: 2.86;
                    object-fit: auto;
                    object-position: center;
                    width: 198px;
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                }

                .otp-title,
                .email-description,
                .email-display,
                .otp-instruction,
                .action-prompt,
                .submit-button-text {
                    text-align: center;
                }

                .otp-title {
                    color: #474646;
                    margin-top: 20px;
                    font: 600 22px 'Outfit', sans-serif;
                }

                .email-description,
                .email-display {
                    color: #000;
                    margin-top: 20px;
                    font: 400 15px 'Outfit', sans-serif;
                }

                .email-display {
                    font-weight: 600;
                }

                .otp-inputs {
                    display: flex;
                    justify-content: center;
                    gap: 15px;
                    margin-top: 40px;
                }

                .otp-input {
                    background-color: #f6f6f6;
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    border: 1px solid rgba(244, 149, 23, 1);
                    text-align: center;
                    font-size: 20px;
                }

                .timer {
                    color: #675b5b;
                    margin-top: 20px;
                    font: 400 12px 'Outfit', sans-serif;
                    display: flex;
                    justify-content: center;
                }

                .actions {
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;
                    font-size: 12px;
                    white-space: nowrap;
                }

                .action-prompt,
                .action-button {
                    flex-grow: 1;
                }

                .action-button {
                    color: #e9890a;
                    font-weight: 600;
                }

                .submit-button {
                    background-color: #f8a435;
                    border: 1px solid rgba(249, 202, 140, 1);
                    border-radius: 10px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;
                    padding: 10px 20px;
                    font-size: 16px;
                }

                .img-fluid {
                    max-width: 100%;
                    height: auto;
                }

                @media (max-width: 991px) {
                    .otp-container {
                        padding: 20px;
                    }

                    .otp-inputs,
                    .actions {
                        margin-top: 30px;
                    }

                    .submit-button {
                        padding: 10px 20px;
                    }
                }

                @media (max-width: 576px) {
                    .otp-container {
                        width: 100%;
                        padding: 20px;
                    }

                    .otp-input {
                        width: 45px;
                        height: 45px;
                    }

                    .submit-button {
                        font-size: 14px;
                    }
                }
            </style>

            <section class="otp-container">
              
                
                <h2 class="otp-title">OTP Verification</h2>
                <p class="email-description">We Will send you a one time password on the <span
                        style="font-family: Anek Tamil, sans-serif;">email</span></p>

                <p class="email-display">{{email}}</p>
                <form action="{% url 'my_otp' %}" method="post">
                    {% csrf_token %}
                    <div class="otp-inputs">
                        <input type="text" autocomplete="off" class="form-control text-center otp-input" name="digit1"
                            maxlength="1" required autofocus />
                        <input type="text" autocomplete="off" class="form-control text-center otp-input" name="digit2"
                            maxlength="1" required />
                        <input type="text" autocomplete="off" class="form-control text-center otp-input" name="digit3"
                            maxlength="1" required />
                        <input type="text" autocomplete="off" class="form-control text-center otp-input" name="digit4"
                            maxlength="1" required />
                    </div>
                    <div class="timer" id="timer">02:00</div>

                    <div class="actions">
                        <div class="action-prompt"><a href="{% url 'resend_otp' %}">Didn't get OTP?</a></div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="submit-button">
                            Submit
                        </button>
                    </div>
                </form>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    swal("Error!", "{{ message }}", "error");
                    {% elif message.tags == 'success' %}
                    swal("Success!", "{{ message }}", "success");
                    {% else %}
                    swal("Message", "{{ message }}");
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </script>
            </section>
        </div>
    </div>
</div>

<style>
    .container-fluid {
        background-color: #d9d9d9;
        padding: 50px;
    }

    .btn a {
        color: white !important;
    }
</style>

<script>
    const timerDuration = 120;
    const timerElement = document.getElementById('timer');
    const actionPrompt = document.querySelector('.action-prompt');

    function formatTime(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = seconds % 60;
        return `${String(minutes).padStart(2, '0')}:${String(remainingSeconds).padStart(2, '0')}`;
    }

    function updateTimer() {
        let remainingTime;
        const userId = '{{ request.session.session_key }}';
        const timerState = localStorage.getItem(`timerState_${userId}`);
        if (timerState) {
            remainingTime = parseInt(timerState);
        } else {
            remainingTime = timerDuration;
        }

        const timerInterval = setInterval(() => {
            timerElement.textContent = formatTime(remainingTime);
            if (remainingTime <= 0) {
                clearInterval(timerInterval);
                timerElement.textContent = '00:00';
                actionPrompt.style.display = 'block';
            } else {
                remainingTime -= 1;
                localStorage.setItem(`timerState_${userId}`, remainingTime);
            }
        }, 1000);

        window.addEventListener('beforeunload', () => {
            localStorage.removeItem(`timerState_${userId}`);
        });
    }

    actionPrompt.style.display = 'none';
    updateTimer();

    const otpInputs = document.querySelectorAll('.otp-input')

    otpInputs.forEach((input, index) => {
        input.addEventListener('input', (event) => {
            if (event.target.value.length === 1 && index < otpInputs.length - 1) {
                otpInputs[index + 1].focus()
            }
        })

        input.addEventListener('keydown', (event) => {
            if (event.key === 'Backspace' && index > 0 && event.target.value.length === 0) {
                otpInputs[index - 1].focus()
            }
        })
    })
</script>

{% endblock content %}
